#products {
    display: flex;
    justify-content: center;
    
    .product {
        display: flex;
        align-items: flex-end;
        max-width: 350px;
        text-align: center;
    }
}