.content {
  flex: 1 0 auto;
  padding: 20px;
}

main {
  padding: 20px;
}

a {
  color: #faa541;
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}